# Set max width images
[mgr]
ratio = [1, 4, 3]
sort_by = "natural"
sort_sensitive = false
sort_reverse = false
sort_dir_first = true
sort_translit = false
linemode = "size"
show_hidden = true
show_symlink = true
scrolloff = 5
mouse_events = ["click", "scroll"]

[preview]
tab_size = 2
max_width = 1500
max_height = 2000
cache_dir = ""
image_delay = 30
image_filter = "triangle"
image_quality = 75
sixel_fraction = 15

[opener]
pdf = [
  { run = 'zathura %s 1>/dev/null 2>/dev/null & disown', block = false, for = "unix" },
]

[open]
prepend_rules = [{ url = "*.pdf", use = ["pdf", "open", "reveal"] }]

[plugin]
prepend_previewers = [{ url = "*.md", run = "mdcat" }]

[[plugin.prepend_fetchers]]
id = "git"
name = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
name = "*/"
run = "git"
