<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.balling.kmonad</string>
    <key>ProgramArguments</key>
    <array>
        <string>sudo</string>
        <string>/Users/balling/.local/bin/kmonad</string>
        <string>/Users/balling/.config/kmonad/config.kbd</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/balling/.config/kmonad/error.log</string>
</dict>
</plist>
